.Intro p {
   
    
    height: 100%;
 font-weight: 700;
    font-family: lato;
    padding:0;
    margin: auto;
    font-size: 10px;
    text-align: center;

}
@media screen and(max-width:765px) 
{
    .Intro p {
    font-size: 8px;
    font-weight: 400;
    }
} 
