.Intro p {
  height: 100%;
  font-weight: 700;
  font-family: lato;
  padding: 0;
  margin: auto;
  font-size: 10px;
  text-align: center; 
}

@media screen and(max-width:800px) 
{
  .Intro p 
  {
    font-size: 7px;
    font-weight: 500;
  }
}